# Site settings
title: Joel F Swift
email: joel.swift@ku.edu
description: Academic webpage of Dr. Joel F Swift
url: "https://kenizzer.github.io"
baseurl: "/JoelFSwift.github.io"

# Google analytics ID: Uncomment and your own, if you like
# google_analytics: XX
# google_analytics_4: XXX
# google_tag_manager: XXX

# Footer info
affiliation: >
  Joel F Swift<br/>
  NSF Plant Genome Postdoctural Fellow<br/>
  University of Kansas

location: >
  University of Kansas<br/>
  1200 Sunnyside Ave<br/>
  Lawrence, KS 66045

contact: >
  <a href="mailto:joel.swift@ku.edu" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact Joel via email</a> <br/>

# Pages shown in navbar
nav_pages:
  - name: about
  - name: publications
  - name: research
  - name: microscopy


include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins: ["jekyll/scholar"]

scholar:
  last_name: Swift
  first_name: [Joel]

  style: citesty
  locale: en

  source: /assets/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
